# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of the commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matpotlib
4. Seaborn
5. Scikit-Learn
6. Vegas
7. ggplot2

| Data Science Tools |
| - |
| Jupyter |
| Jupyter lab |
| R Studio |
| Apache Zeppelin |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [10]:
total_minutes = 200
hours = total_minutes//60
minutes = total_minutes % 60
time = "{}:{}".format(hours, minutes)
print(time)

3:20

## Author 
Caio Marques